<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" href="{{ url_for('static', filename='images/red_cross.jpeg') }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>

<body>
  <div class="top-section">
    <h2>Scenario 2 Project</h2>
    <p>Ho Jun Han, Jack Mok, Samson Wu, Santtosh Sivaram, Ming Yao, Abdul Muhaymin Abdul Hafiz</p>
  </div>

  <div class="container">
    <h1>Login</h1>
    <div class="user-info">
      <img src="{{ url_for('static', filename='images/user_icon.jpeg') }}" alt="User Icon" class="user-icon">
      <form id="loginForm" onsubmit="return validateForm()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <div id="usernameError" class="error-message"></div><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <div id="passwordError" class="error-message"></div><br>
        <a href="https://google.com">
          <button type="button">Login</button>
        </a>
      </form>
    </div>
  </div>

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>